# Load Libraries

In [2]:
import pandas as pd
import numpy as np

# Load Data

In [ ]:
filepath = "/Users/Kapil/PycharmProjects/stock-price"
train = pd.read_csv(filepath + "/data/train.csv")
test = pd.read_csv(filepath + "/data/test.csv")

In [13]:
SEED = 13
np.random.seed(SEED)

In [14]:
train.shape

(2026, 6)

In [11]:
train.head()

         Date   Open   High    Low  Close  Up
0  2004-01-02  50.85  50.91  50.62  50.72   1
1  2004-01-05  50.75  50.84  50.61  50.79   1
2  2004-01-06  50.87  51.26  50.86  51.15   1
3  2004-01-07  51.45  51.54  51.29  51.51   0
4  2004-01-08  51.15  51.33  51.02  51.28   0

In [15]:
Y_train = train['Up']
X_train = train.drop(['Up'], axis = 1)

X_test = test

In [16]:
X_train.head()

         Date   Open   High    Low  Close
0  2004-01-02  50.85  50.91  50.62  50.72
1  2004-01-05  50.75  50.84  50.61  50.79
2  2004-01-06  50.87  51.26  50.86  51.15
3  2004-01-07  51.45  51.54  51.29  51.51
4  2004-01-08  51.15  51.33  51.02  51.28

In [17]:
X_train.describe()

              Open         High          Low        Close
count  2026.000000  2026.000000  2026.000000  2026.000000
mean     72.338425    72.714126    71.977957    72.353968
std      14.876363    14.968429    14.778285    14.874404
min      50.430000    50.650000    50.400000    50.610000
25%      57.702500    57.942500    57.415000    57.702500
50%      73.970000    74.430000    73.325000    73.835000
75%      81.230000    81.645000    80.717500    81.060000
max     110.510000   111.020000   110.380000   110.810000